<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

<section class="pb-4">
  <div class="bg-white border rounded-5">
    
    <section class="w-100 p-4 d-flex justify-content-center pb-4">
      <form style="width: 22rem;" action="{% url 'initiate_payment' %}" method="POST">
        <h2>Fund your wallet</h2>
		{% csrf_token %}
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="form2Example1" class="form-control" name="email" required>
          <label class="form-label" for="form2Example1" style="margin-left: 0px;">email</label>
        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>

		<div class="form-outline mb-4">
			<input type="number" min=1 required id="form2Example1" class="form-control" name="amount">
			<label class="form-label" for="form2Example1" style="margin-left: 0px;">amount to fund</label>
		  <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>

        <button type="submit" class="btn btn-primary btn-block mb-4">Fund</button>

      </form>
    </section>

    
    
    
    
      
      
       
    </div>
    
    
  </div>
</section>